
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>You want cars? We got em... and you're going to hear about it!!! CARS CARS CARS!!! WE HAVE CARS!!!! WE GOT DEALS!!!</p>
<br />
<p>WE'RE GONNA SAVE YOU SOME MONEY BECAUSE ALL OF OUR CARS ARE WILDLY OVER PRICED COMPARED TO HOW MUCH IT COSTS TO MAKE THEM!!!!</p>
<br />
<p>SO COME ON DOWN AND WE'LL HAVE ONE OF OUR AGENTS GET A LITTLE PUSHY AND BORDERLINE RUDE TO YOU!!!!</p>