@{
    ViewBag.Title = "Home";
}

<h>Home</h>
<div class="list-group">

    </br>
    <a asp-controller="Car" asp-action="Sort">
        Sort Cars
    </a>
    </br>
    <a href="search">
        Search For Car
    </a>
    </br>
    <a asp-controller="Home" asp-action="About">
        About Us
    </a>
    <a href="~/admin">
        Admin
    </a>
</div>